absl-py==0.7.1
astor==0.8.0
certifi==2019.11.28
chardet==3.0.4
cplex==12.8.0.0
dnspython==1.16.0
emoji==0.5.4
gast==0.2.2
google-pasta==0.1.7
grpcio==1.21.1
h5py==2.9.0
idna==2.9
Markdown==3.1.1
numpy==1.16.4
Pillow==6.2.1
protobuf==3.18.3
pymongo==3.10.1
requests==2.23.0
six==1.12.0
termcolor==1.1.0
urllib3==1.25.8
Werkzeug==0.15.4
wrapt==1.11.2
